body{
    background-color: rgb(151, 176, 222);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    border: border-box;
}

.container{
    height: 400px;
    width: 700px;
    background-color: white;
    margin: auto;
    margin-top: 250px;
}

.navbar{
    height: 45px;
    width: 700px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 47px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 350px;
}

.battery{
    width: 40px;
    height: 47px;
    font-size: 1.6rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.date{
    /* width: 40px;
    height: 47px;
    font-size: 0.8rem; 
    display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1rem;
    color: black;
}

.menu{
    width: 40px;
    height: 47px;
    font-size: 1.6rem; display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.body{
    background-image: url("main-image.jpg");
    height: 310px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.files{
    width: 40px;
    height: 47px;
    font-size: 4rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(77, 97, 135);
    margin-left: 30px;
    padding-top: 25px;
}

.files p{
    font-size: 1rem;
    margin: 5px 0 0 0;
    text-align: center;
}

.msg{
    height: 45px;
    width: 200px;
    background-color: rgb(77, 97, 135);
    margin-left: 450px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
}

.footer{
    background-color:  rgb(77, 97, 135);
    height: 45px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    color: white;
}


.footer-center{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



